<configuration>

    <!-- 控制台输出（用于调试） -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"crud_app"}</customFields>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <!-- 发送到 Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"crud_app"}</customFields>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <!-- root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>